
body {
	background-color: #EFE2AD!important;
	font-family: "roboto", "arial", sans-serif; 

}

.container {
	background-color: #EFE2AD !important;
}

.card-deck {
	margin-top: 20px;
}

.card-img-top {
	padding: 20px;
}


