
 

{% extends "base.html" %}

{% block title %}Akompanhe.me{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/bem-vindo.css">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">

    		<div class="col-sm">
                <div class="card" style="width: 24rem;">
                    <img class="card-img-top" src="/static/img/k_tres_cores.jpg" style="padding: 40px; height: 24em;" />

                    <div class="card-body" >
                        <h5 class="card-title text-dark">Seja bem vindo</h5>
                        <p class="text-dark card-text">Ficamos felizes por partilhar sua kombihome conosco. Se tiveres um canal, divulgaremos e estaremos acompanhas suas aventuras, diversão, reencontros e novas amizades.</p>
                        <p class="text-dark card-text">Em breve receberão um e-mail com a aprovação de seu cadastro. Vocês poderão entrar no gerenciamento de sua página e alterar as informações (exceto e-mail), adicionar ou deletar fotos, alterar o texto de apresentação, divulgar seus canais de divulgação etc.</p>
                        <p class="text-dark card-text">Espero que aprecie as companhias e novas amizades que acontecerão.</p>
                        <p class="text-dark card-text">Abração da equipe do Akompanhe.me</p>
                        <p class="text-dark card-text">Enquanto isso, que tal dar uma olhada no que nossos companheiros estão fazendo?</p>

                        {% for key, item in kmb.imagens %}
                            <h1>{key} : {item}</h1>
                        {% endfor %}

                        <a href="kombitas" class="btn btn-primary">Kombis Mundo Afora</a>
                    </div>
                </div>
    		</div>

    		<div class="col-sm">
    		</div>

    		<div class="col-sm">
    		</div>

    		<div class="col-sm">
    		</div>

    	</div>
    </div>

    <footer class="d-flex justify-content-center">
    	<div class="card" style="width: 28rem;">
			<div class="card-body" >
    			{% for key, item in kmb.imagens %}
                    <h1>{key} : {item}</h1>
                {% endfor %}
    		</div>
    	</div>

    </footer>
{% endblock %}

 
