
<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Cadastro Akompanhe.me{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/cadastro.css" />
    {{ dropzone.load() }}
    {{ dropzone.style('border: 1px dashed #FF5555;
                       margin: 10%; 
                       min-height: 160px;
                     ') }}
{% endblock %}

{% block content %}
<div class="row">

	<div class="card-deck">
  		<div class="card">
  			<div class="card-body">
				<h2>Cadastro</h2>
				<p>Faça seu cadastro, informe o nome de sua Kombi, nos conte um pouco sobre ela e suas aventuras. No final acrescente ao menos 3 fotos (no máximo 12) para podermos conhecê-la melhor. Faça isso ao lado.</p>
				<p> Lembre-se, apesar de você ser muito bonito(a) - temos absoluta certeza - queremos mesmo é conhecer sua Kombi!</p>
				<p> Pode até ser foto sua (fazer o quê?), mas inclua ela!</p>

				<form action="#" method="POST">

					<div class="form-group">
					  	<label for="InputName">Nome dos proprietário(s)</label>
					  	<input type="text" name="nomes" class="form-control" id="InputName" aria-describedby="names" placeholder="Nome(s)">
					</div>
					<div>
					    <label for="InputEmail1">Endereço de email</label>
					    <input type="email" name="new_email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Seu email" value="{{email if email}}">
					    <small id="emailHelp" class="form-text text-muted">Não compartilhamos e-mail com ninguém. Este email é exclusivamente para contato entre Akompanha.me e vocês.</small>
					</div>

					<div class="form-group">
					    <label for="InputPassword1">Senha</label>
					    <input type="password" name="new_pass"  class="form-control" id="InputPassword1" placeholder="Senha">
					</div>

					<div class="form-group">
					  	<label for="InputKombi">Nome da Kombi</label>
					  	<input type="text" name="new_kombi"class="form-control" id="InputKombi" aria-describedby="new_kombi" placeholder="Nome(s)">
					</div>

					<div class="form-group">
					    <label for="FormControlTextarea1">Conte sobre o projeto</label>
					    <textarea class="form-control" name="resume"  id="FormControlTextarea1" rows="5" placeholder="Qual foi o objetivo de tê-la? Quais as expectativas? Faça um texto bonito pra xuxu!"></textarea>
					</div>
					<button href="submit" class="btn btn-primary">   Enviar cadastro</button>
					  
				</form>
			</div>
		</div>

		<div class="card">
  			<div class="card-body">
			    <h2>Coloque as fotos aqui</h2>
			    <p class="photo">Coloque até 12 fotos com boa resolução (máximo de 16MB).</p>

			    {{ dropzone.create(action_view='cadastro') }}


			    <p>Você pode colocar as fotos depois, mas sua página só irá ao ar se tiver ao menos 3 fotos!</p>

			    <img class="card-img-top" src="/static/img/k_verm.jpg" style="padding: 20px 50px;" />

			    <div>

				    <p>Seu cadastro e fotos serão enviados para a moderação que em 48 horas aprovará. Você receberá um email informando a aprovação. Quando entrar em sua página de gerenciamento você poderá incluir várias plataformas de divulgação, como Instagran, Youtube, etc </p>

			    </div>
			</div>
		</div>
	</div>
	
</div>


{% endblock %}