
 

{% extends "base.html" %}

{% block title %}Akompanhe.me{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/base.css">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">

    		<div class="col-sm">
    		</div>

    		<div class="col-sm">
    		</div>

    		<div class="col-sm">
    		</div>

    		<div class="col-sm">
				<div class="card" style="width: 22rem;">
					<img class="card-img-top" src="/static/K_natureza.jpg" style="padding: 50px;" />

					<div class="card-body" >

						<h5 class="card-title text-dark">Akompanhe.me e ...aventure-se</h5>
					    <p class="text-dark card-text">Siga as aventuras de kombeiros pelo Brasil e pelo Mundo.</p>
					    <p class="text-dark card-text">A ideia do aplicativo nasceu da necessidade de encontrarmos informações sobre construção de kombihome, dicas de viagens, locais para visitar, pernoitar, etc. </p>
                        <p class="text-dark card-text">Com o tempo, acompanhar o dia-a-dia destas Kombis tornou-se um passatempo útil e muito divertido.
					    <p class="text-dark card-text">Todas inspiam nossos sonhos.</p>
					    <p class="text-dark card-text">Então, vamos lá! Vamos ver...</p>
					    <a href="kombitas" class="btn btn-primary">Las Kombitas</a>
					</div>
				</div>    
    		</div>

    	</div>
    </div>

    <footer class="d-flex justify-content-center">
    	<div class="card" style="width: 28rem;">
			<div class="card-body" >
    			<p class="text-dark text-center">Akompanhe.ME, please! Por favorzinho, vai!</p>
    		</div>
    	</div>

    </footer>
{% endblock %}

 
