
<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}Akompanhe las Kombitas{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/kombitas.css" />
{% endblock %}

{% block content %}
	<div class="container">
		<div class="card-deck">
			<div class="card">
			    <img class="card-img-top" src="static/kombis/maria_maria.jpg" alt="Imagem de capa do card">
			    <div class="card-body">
				    <h5 class="card-title">Maria Maria</h5>
				    <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Suco de cevadiss deixa as pessoas mais interessantis.</p>
				    <button type="button" class="btn btn-primary btn-sm">Maria Maria</button>
			    </div>
			</div>
			<div class="card">
			    <img class="card-img-top" src="static/kombis/joaquina.jpg" alt="Imagem de capa do card">
			    <div class="card-body">
			        <h5 class="card-title">Joaquina</h5>
			        <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Suco de cevadiss deixa as pessoas mais interessantis. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
			        <button type="button" class="btn btn-primary btn-sm">Joaquina</button>
			    </div>
			</div>
			<div class="card">
			    <img class="card-img-top" src="static/kombis/maria_antonia.jpg" alt="Imagem de capa do card">
			    <div class="card-body">
			        <h5 class="card-title">Maria Antônia</h5>
			        <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. In elementis mé pra quem é amistosis quis leo. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Quem num gosta di mim que vai caçá sua turmis!</p>
			        <button type="button" class="btn btn-primary btn-sm">Maria Antônia</button>
			    </div>
			 </div>
		</div>
    </div>

{% endblock %}