<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Todas as Kombi Homes{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/view.css" />
{% endblock %}

{% block content %}
    {% for item in values %} 
    <div class="col-sm">
	    <div class="card">
			<div class="card-body">
				<p>ID: {{item._id}}</p>
		        <p>Kombi: {{item.kombi}}</p>
		        <p>Proprietários: {{item.propri}}</p>
		        <p>E-mail: {{item.email}}</p>
		        <p>Texto: {{item.texto}}</p>
		        <p>Senha: {{item.senha}}</p>
		        <p>Imagem: {{ item.img1 }}</p>
	    	</div>
		</div>
	</div>
    {%endfor%}




{% endblock %}